name: GitHub Actions
on: [push]
jobs:
  build:
    runs-on: ${{ matrix.cfg.os }}
    strategy:
     fail-fast: false
     matrix:
      cfg:
      # For Ubuntu 22.04, the available compilers are specified according to
      # https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2204-Readme.md
      #- { os: ubuntu-22.04, cc: gcc-10, cxx: g++-10 } # 10.5.0
      - { os: ubuntu-22.04, cc: gcc-11, cxx: g++-11 } # 11.4.0
      - { os: ubuntu-22.04, cc: gcc-12, cxx: g++-12 } # 12.3.0
      - { os: ubuntu-22.04, cc: clang-13, cxx: clang++-13 } # 13.0.1
      - { os: ubuntu-22.04, cc: clang-14, cxx: clang++-14 } # 14.0.0
      - { os: ubuntu-22.04, cc: clang-15, cxx: clang++-15 } # 15.0.7
      # For Ubuntu 24.04, the available compilers are specified according to
      # https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2404-Readme.md
      - { os: ubuntu-24.04, cc: gcc-12, cxx: g++-12 } # 12.3.0
      - { os: ubuntu-24.04, cc: gcc-13, cxx: g++-13 } # 13.3.0
      - { os: ubuntu-24.04, cc: gcc-14, cxx: g++-14 } # 14.2.0
      - { os: ubuntu-24.04, cc: clang-16, cxx: clang++-16 } # 16.0.6
      - { os: ubuntu-24.04, cc: clang-17, cxx: clang++-17 } # 17.0.6
      - { os: ubuntu-24.04, cc: clang-18, cxx: clang++-18 } # 18.1.3
      # For macOS 14, the available compilers are specified according to
      # https://github.com/actions/runner-images/blob/main/images/macos/macos-14-Readme.md
      - { os: macos-14, cc: gcc-13, cxx: g++-13 } # 13.4.0 
      - { os: macos-14, cc: gcc-14, cxx: g++-14 } # 14.3.0
      - { os: macos-14, cc: gcc-15, cxx: g++-15 } # 15.1.0 
      # For macOS 15, the available compilers are specified according to
      # https://github.com/actions/runner-images/blob/main/images/macos/macos-15-Readme.md
      - { os: macos-15, cc: gcc-13, cxx: g++-13 } # 13.4.0 
      - { os: macos-15, cc: gcc-14, cxx: g++-14 } # 14.3.0 
      - { os: macos-15, cc: gcc-15, cxx: g++-15 } # 15.1.0 
      - { os: windows-2022, cc: gcc, cxx: g++, msys2_system: mingw64, msys2_arch: x86_64 }

    steps:
    - uses: actions/checkout@v2

    - uses: msys2/setup-msys2@v2
      id: msys2
      if: matrix.cfg.msys2_system != ''
      with:
        msystem: ${{matrix.cfg.msys2_system}}
        install: >-
          make
          mingw-w64-${{matrix.cfg.msys2_arch}}-gcc
          mingw-w64-${{matrix.cfg.msys2_arch}}-cmake
    - if: matrix.cfg.msys2_system != ''
      run: |
        Add-Content $env:GITHUB_PATH "${{ steps.msys2.outputs.msys2-location }}\${{matrix.cfg.msys2_system}}\bin"
        Add-Content $env:GITHUB_PATH "${{ steps.msys2.outputs.msys2-location }}\usr\bin"

    - name: Run tests. 
      run: make test CC=${{ matrix.cfg.cc }} CXX=${{ matrix.cfg.cxx }}

    - name: Upload test reports.
      uses: actions/upload-artifact@v3
      with:
        name: test-reports
        path: build/test/Release/result/*.xml

    - name: Publish test results.
      uses: dorny/test-reporter@v1
      with:
        name: GoogleTest
        path: build/test/Release/result/*.xml
        reporter: junit
        fail-on-error: true